@using Microsoft.AspNetCore.Components.Routing
@using NLauncher.Components
@using NLauncher.Components.Logo
@using NLauncher.Components.Menus
@using NLauncher.Components.Menus.Downloads
@using NLauncher.Index.Models.Index

@inherits LayoutComponentBase

@layout BaseLayout

<MudLayout>
    <MudAppBar Class="appbar-style" Elevation="0">
        <MudIconButton Class="d-md-none"
                       Style="margin-right:8px"
                       Icon="@(Icons.Material.Rounded.Menu)"
                       OnClick="@(() => SetDrawerOpen(true))" />
        <a href="./">
            <NLauncherBanner />
        </a>
        <MudSpacer />
        <MudStack Style="margin-left:16px" Row AlignItems="AlignItems.Center">
            <!-- Use null value to force autocomplete to clear once an app was selected -->
            <MudAutocomplete @ref=indexSearch
                             Class="d-none d-sm-flex"
                             T="IndexEntry"
                             SearchFunc="SearchIndex"
                             ToStringFunc="@(static e => e?.Manifest?.DisplayName)"
                             MaxItems="5"
                             ValueChanged="@(async e => await NavigateTo(e.Manifest))"
                             Placeholder="Search"
                             Variant="Variant.Outlined"
                             Adornment="Adornment.Start"
                             AdornmentIcon="@(Icons.Material.Rounded.Search)">
            </MudAutocomplete>

            <MudDivider Class="ma-4 d-none d-sm-flex" FlexItem Vertical DividerType="DividerType.Middle" />

            <!-- App bar menus -->
            <!-- Use MudPopover instead of MudMenu for better UX since MudMenu behaviour was a bit funky -->
            <MudTooltip Text="Downloads" Delay="1000">
                <MudBadge Overlap Dot Visible="@anyInstallsRunning" Color="Color.Primary">
                    <MudIconButton Icon="@(Icons.Material.Rounded.Download)" OnClick="@(AppBarMenus.ToggleDownloads)" />
                </MudBadge>
            </MudTooltip>
            <DownloadsMenu Open="@(AppBarMenus.DownloadsOpen)" />

            <MudTooltip Text="Settings" Delay="1000">
                <MudIconButton Icon="@(Icons.Material.Rounded.Settings)" OnClick="@(AppBarMenus.ToggleSettings)" />
            </MudTooltip>
            <SettingsMenu Open="@(AppBarMenus.SettingsOpen)" />
            <!--/ App bar menus /-->

        </MudStack>
    </MudAppBar>
    <MudDrawer Elevation="0" Open="@drawerOpen" OpenChanged="@SetDrawerOpen" ClipMode="DrawerClipMode.Docked">
        <NLauncherBanner Class="d-md-none ma-4" />
        <MudNavMenu Rounded Margin="Margin.Normal" Color="Color.Primary">
            <MudNavLink Href="./" Match="NavLinkMatch.All" Icon="@(Icons.Material.Rounded.Home)">Home</MudNavLink>
            <MudNavLink Href="./store" Icon="@(Icons.Material.Rounded.Sell)">Store</MudNavLink>
            <MudNavLink Href="./library" Icon="@(Icons.Material.Rounded.GridView)">Library</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        <!-- Add some bottom padding so that you can scroll a bit past the bottom (content is easier to view) -->
        <!-- Mud grid default spacing is 6 so bottom padding: 6 * 4px => 24px -->
        <MudContainer Style="margin-bottom: 24px;" MaxWidth="MaxWidth.ExtraLarge">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<MudOverlay Visible="@(AppBarMenus.AnyMenuOpen)" LockScroll="false" AutoClose OnClosed="AppBarMenus.CloseAll" />

<style>
    .appbar-style {
        /* background: rgba(255, 255, 255, 0.2); */
        backdrop-filter: blur(12px);
    }
</style>