@using NLauncher.Index.Enums
@using NLauncher.Index.Models.Applications
@using NLauncher.Index.Models.Applications.Installs
@using NLauncher.Index.Models.Index
@using System.Diagnostics.CodeAnalysis
@using NLauncher.Services
@using NLauncher.Shared.AppHandlers
@using NLauncher.Shared.AppHandlers.Base
@using System.Collections.Immutable

<MudPaper Class="pa-3" Style="@Style" Outlined Elevation="0">
    <MudStack Spacing="4">
        <!-- Icon -->
        @if (!IsLoading)
        {
            IndexAsset? icon = Entry.Assets.Closest(iconSize, AssetType.Icon);
            if (icon is not null)
            {
                <MudCardMedia Image="@(icon.Url.ToString())" Height="@iconSize" Style="background-size:contain;" />
            }
        }
        else
        {
            <MudSkeleton Style="align-self:center;" SkeletonType="SkeletonType.Rectangle" Width="@iconSizePx" Height="@iconSizePx" />
        }

        @{
            (ImmutableArray<AppHandler> appHandlers, InstallAppHandler? installAppHandler) = GetAppHandlers();
            LinkAppHandler? linkAppHandler = (LinkAppHandler?)appHandlers.FirstOrDefault(static ah => ah is LinkAppHandler);

            @if (appHandlers.Length > 0)
            {
                <MudStack Spacing="2">
                    <MudButtonGroup FullWidth Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary" DropShadow="false">
                        @if (linkAppHandler is not null)
                        {
                            AppInstall linkAppInstall = Entry!.Manifest.GetLatestVersion()!.Installs.First(linkAppHandler.CanHandle);

                            <!-- Do not wrap this button in a parent element as it's a part of MudButtonGroup -->
                            <MudButton EndIcon="@(Icons.Material.Rounded.OpenInNew)"
                                       IconSize="Size.Small"
                                       Disabled="@IsLoading"
                                       Href="@(linkAppHandler.GetHref(linkAppInstall))"
                                       Target="_blank">
                                @(GetLinkText(linkAppHandler))
                            </MudButton>
                        }

                        <!-- Only show install button if there are multiple link app handlers or other app handlers --> 
                        @if (appHandlers.Any(ah => !ReferenceEquals(ah, linkAppHandler)))
                        {
                            <!-- Do not wrap this button in a parent element as it's a part of MudButtonGroup -->
                            <MudButton Disabled="@IsLoading"
                                       OnClick="@StartInstallOrOpenInstallDialog"
                                       @oncontextmenu="@OpenInstallDialog"> <!-- oncontextmenu:preventDefault produces an error for some reason --> 
                                Install
                            </MudButton>
                        }
                    </MudButtonGroup>

                    <MudButton OnClick="@AddToLibrary"
                                FullWidth
                                Disabled="@(IsLoading || !canAddToLibrary || isAddingToLibrary)"
                                Variant="Variant.Filled"
                                Size="Size.Large"
                                DropShadow="false">
                        @(canAddToLibrary ? "Add To Library" : "Application In Library")
                    </MudButton>
                </MudStack>
            }
        }

        <div>
            @if (!IsLoading)
            {
                AppManifest app = Entry.Manifest;
                Platforms supportedPlatforms = GetSupportedPlatforms();
                bool showPlatforms = supportedPlatforms != Platforms.None;

                <AppInfoCardData Label="Developer" Value="@(app.Developer)" TopDivider="false" />
                <AppInfoCardData Label="Publisher" Value="@(app.Publisher)" />
                <AppInfoCardData Label="Release Date" Value="@(GetReleaseDateString(app.Release))" />

                @if (showPlatforms)
                {
                    <AppInfoCardData Label="Platforms">
                        <ValueContent>
                            <MudStack Row Spacing="2">
                                @foreach (Platforms platform in supportedPlatforms.GetIndividualValues())
                                {
                                    string? icon = GetPlatformIcon(platform);
                                    if (icon is not null)
                                    {
                                        <MudTooltip Text="@(platform.ToString())" Placement="Placement.Top">
                                            <MudIcon Icon="@icon" />
                                        </MudTooltip>
                                    }
                                }
                            </MudStack>
                        </ValueContent>
                    </AppInfoCardData>
                }
            }
        </div>
    </MudStack>
</MudPaper>