@using NLauncher.Code.Extensions
@using NLauncher.Components.Menus
@using NLauncher.Components.Menus.LibraryCard
@using NLauncher.Index.Enums
@using NLauncher.Index.Models.Applications
@using NLauncher.Index.Models.Index
@using NLauncher.Pages
@using NLauncher.Services.Index
@using NLauncher.Services.Library

@inject NavigationManager navigationManager
@inject IndexService IndexService

<MudItem xs="6" sm="4" lg="3" xl="2">
    @{
        IndexAsset? backgroundImage = Entry?.Assets.Largest(AssetType.Panel);

        <MudPaper Outlined Elevation="0"
        Class="card_hover_effect library_card_container"
        Style="@GetBackgroundImageCss(backgroundImage)">
            <!-- Image -->
            @if (Entry is not null)
            {
                // Only show the alternate image if panel image is not found.
                if (backgroundImage is null)
                {
                    <AppImage Panel Entry="Entry">
                        <ImageContent>
                            <!-- ImageContent is handled in MudPaper -->
                        </ImageContent>
                    </AppImage>
                }
            }
            else
            {
                <MudSkeleton Width="100%" Height="100%" SkeletonType="SkeletonType.Rectangle" />
            }

            <a class="library_card_overlay" style="align-content:center"
            href="@linkPlayHref" target="_blank"
            @onclick="OnCardPressed"
            @oncontextmenu="@OpenContextMenu" @oncontextmenu:preventDefault>
                <MudIconButton Class="library_card_overlay_button" Icon="@(Icons.Material.Rounded.MoreVert)" OnClick="OpenContextMenu" />

                @if (CanPlay)
                {
                    <MudText Align="Align.Center" Typo="Typo.h4">PLAY</MudText>
                }
                else if (isInstalling)
                {
                    <MudText Align="Align.Center" Typo="Typo.h4">INSTALLING</MudText>
                }
                else if (canInstall)
                {
                    <MudText Align="Align.Center" Typo="Typo.h4">INSTALL</MudText>
                }
                else
                {
                    <MudText Align="Align.Center" Typo="Typo.h4">NOT AVAILABLE</MudText>
                }
            </a>
        </MudPaper>

        <!-- Outside of library card overlay to prevent overlay flickering --> 
        <LibraryCardMenu @ref=menu Entry="@Entry" />
    }
</MudItem>

<style>
.library_card_container {
    position: relative;

    aspect-ratio: 2 / 3;
    overflow: clip; /* Clip overflow to fix skeleton rendering incorrectly */
    cursor: pointer;

    background-position: center;
    background-size: cover;
    background-clip: padding-box;
}

.library_card_overlay {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 5;

    opacity: 0;
    transition: opacity 250ms;

    user-select: none;

    border-color: var(--mud-palette-overlay-dark);
    background-color: var(--mud-palette-overlay-dark);
}
.library_card_overlay:hover {
    opacity: 1;
}

.library_card_overlay_button {
    position: absolute;
    right: 4px; top: 4px;
}
</style>
